html
	head
		title Proof-of-Concept App
		link(rel='stylesheet', type='text/css', href='css/global.css')

	body
		div.wrapper
			p
				| Your name is currently: 
				iframe#nameIframe(src=`https://localhost:3000/info/firstNamespace.name?date=${Date.now()}${css ? '&css=' + css : ''}`, name=Date.now())
			p
				| Change your name to be:
				iframe#nameInputIframe(src=`https://localhost:3000/input/firstNamespace.name?date=${Date.now()}${css ? '&css=' + css : ''}`, name=Date.now())
